{% extends "project/base.html" %}

{% block last_breadcrumb %}
<li>Edit</li>
{% endblock %}

{% block project_inner_content %}
  <h2 class="text-left"> Editing project </h2>
  <p class="pull-right">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    <a href="https://docs.docker.com/reference/builder/"  target="_blank">
      Dockerfile format reference
    </a>
  </p>

  <form class="form" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <input type="hidden" name="title" value="{{ project.title }}" />

    {% if project.source_mode == "local_text" %}
      {{ wtf.form_field(form.local_text,rows=20) }}
    {% endif %}

    {% if project.source_mode == "git_url" %}
      {{ wtf.form_field(form.git_url) }}
    {% endif %}


     <button type="submit" class="btn btn-default">Submit</button>
  </form>

{% endblock %}
