Flask
Flask-OpenID
Flask-Script
Flask-WTF
Flask-SQLAlchemy
Flask-Bootstrap
SQLAlchemy
sqlalchemy-utils
arrow
psycopg2
alembic
pytz
python-dateutil
pyLibravatar
# pydns
requests
gitpython
redis
asyncio_redis
ipdb
# backports.typing
typing==3.5.0b1
# copr - from system python3-copr
# psycopg2 - from system python3-psycopg2
lxml
requests_toolbelt


tox
pytest
pytest-cov
testing.postgresql

sphinx
sphinxcontrib-httpdomain
