Flask
Flask-OpenID
Flask-Script
Flask-WTF
Flask-SQLAlchemy
Flask-Bootstrap
SQLAlchemy
alembic
pytz
python-dateutil
pyLibravatar
# pydns
requests
gitpython
redis
asyncio_redis
ipdb
backports.typing
# psycopg2 - from system python3-psycopg2

tox
pytest
pytest-cov

sphinx
sphinxcontrib-httpdomain
