{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}DOPR - inject copr into your images!{% endblock %}

{% block navbar %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DOPR</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!--<ul class="nav navbar-nav">-->
          <!--<li class="{% if home_btn_active %} active {% endif %}"><a href="/">Home</a></li>-->
          <!--&lt;!&ndash;<li><a href="/projects">DProjects</a></li>&ndash;&gt;-->
        <!--</ul>-->
        <ul class="nav navbar-nav navbar-right">
          {% if g.user %}
            <li class="{% if my_prj_btn_active %} active {% endif %}">
              <a href="{{ url_for('project.list_by_user',username=g.user.username) }}">
              My ({{ g.user.username }}) projects
            </a> </li>
            <li><a href="/auth/logout">Logout</a></li>
          {% else %}
            <li><a href="/auth/login">Login</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <!-- looks like some bug in flask-bootstrap style, adding additional space under navbar -->
  <div>
    <br />
    <br />
    <br />
  </div>

{% endblock %}

{% block content %}
<div class="container">
  {{ utils.flashed_messages(container=False) }}
  {% block inner_content %}
  {% endblock inner_content %}

</div><!-- /.container -->
{% endblock content %}
