{% extends "base.html" %}

{% block inner_content %}
  <div class="starter-template">
    <h1>Copr Docker Image Composer</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>New projects</b>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          {% for prj in project_list %}
             <li class="list-group-item">
               <h4>
                 <a href="{{ url_for('main.project_details', project_id=prj.id) }}">
                   {{ prj.title }}
                 </a> by
                 <small><a href="{{ url_for('main.project_list', username=prj.user.username) }}">
                   {{ prj.user.username }}
                 </a></small>

                 <span class="pull-right small">
                    Last build: <i>not started</i>
                 </span>
               </h4>
             </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
{% endblock %}
