{% extends "base.html" %}

<!-- for Dockerfile highlighting -->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/languages/dockerfile.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{super()}}
{% endblock %}




{% block inner_content %}

  <h1>Project: {{ project.title }}
    {% if g.user == project.user %}
    <span class="small pull-right">
      <a class="btn btn-default" href="{{ url_for('main.project_edit', project_id=project.id)}}">Edit</a>
      <a class="btn btn-default" href="{{ url_for('copr.search_and_link', project_id=project.id)}}">Link coprs</a>
      <a class="btn btn-primary" href="{{ url_for('main.project_start_build', project_id=project.id)}}">Run build</a>
    </span>
    {% endif %}
  </h1>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Configuration</b>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Linked coprs</dt>
            {% for copr in project.linked_coprs %}
              <dd>
                <a href="{{ copr.copr_url }}">
                  {{ copr.full_name }}
                </a>
              </dd>
            {% else %}
            <dd>(no linked coprs)</dd>
            {% endfor %}

            <dt>Source type</dt>
            <dd>{{ project.source_mode }}</dd>

            {% if project.source_mode == "git_url"  and project.git_url %}
            <dt>Git</dt>
            <dd>{{ project.git_url }}</dd>

            <dt>Dockerfile path</dt>
            <dd>{{ project.dockerfile_path|default("/") }}</dd>
            {% endif %}

            <dt>Auto-build repos:</dt>
            <dd>
              {% if project.github_repo_exists %}
                <a href="{{ project.github_repo_url }}">
                  GitHub
                </a>
              {% else %}
                (not created yet)
              {% endif %}
            </dd>

            <dt>&nbsp;</dt>
            <dd>
              {% if project.dockerhub_repo_exists %}
                <a href="{{ project.dockerhub_repo_url }}">
                  DockerHub
                </a>
              {% endif %}
            </dd>

            <dt>Local repo</dt>
            <dd> {{ project.local_repo_exists }}</dd>

            <!--<dt>Auto-build</dt>-->
            <!--<dd>disabled</dd>-->
          </dl>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Activity log</b>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            {% for event in  project.recent_events.limit(10).all() %}
              <dt>{{ event.created_on | time_ago}}: </dt>
              <dd>{{ event.human_text }} </dd>
            {% endfor %}


          </dl>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Dockerfile preview</b>
        </div>
        <div class="panel-body">
          <pre><code class="dockerfile">{{ project.patched_dockerfile }}</code></pre>
        </div>
      </div>

    </div>

  </div>


{% endblock %}
