{% extends "base.html" %}

{% block inner_content %}
  <h1> Create new project </h1>

  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.title) }}

    <!--<div class="form-group ">-->
      <!--<label class="control-label" for="source_mode">-->
        <!--Select source mode for project-->
      <!--</label>-->
      <!--{{ wtf.form_field(form.source_mode) }}-->
    <!--</div>-->
    <!---->

     <button type="submit" class="btn btn-default">Submit</button>
  </form>


{% endblock %}
