[Unit]
Description=cdic async executor daemon
# Requires=postgresql.service # uncomment after added
# After=
# Requires=cdic_gunicorn.socket
After=network.target

[Service]
PIDFile=/run/cdic/pid_async
User=cdic
Group=cdic
WorkingDirectory=/opt/cdic/src/cdic
EnvironmentFile=/etc/pg_env
Environment="PYTHONPATH=..:$PYTHONPATH"
# ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
ExecStartPre=/opt/cdic/_docker/first_run.sh
ExecStart=/usr/bin/python3 manage.py run_async_tasks
PrivateTmp=true

[Install]
WantedBy=multi-user.target
