{% extends "project/base.html" %}

{% block last_breadcrumb %}
<li>Info</li>
{% endblock %}


{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/languages/dockerfile.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{super()}}
{% endblock %}


{% block project_inner_content %}
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Configuration</b>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">

            <dt>Linked coprs</dt>
            {% for copr in project.linked_coprs %}
              <dd>
                <a href="{{ copr.copr_url }}">
                  {{ copr.full_name }}
                </a>
              </dd>
            {% else %}
            <dd>(no linked coprs)</dd>
            {% endfor %}

            <!--<dt>Source type</dt>-->
            <!--<dd>{{ project.source_mode }}</dd>-->

            {% if project.source_mode == "git_url"  and project.git_url %}
            <dt>Git</dt>
            <dd>{{ project.git_url }}</dd>

            <dt>Dockerfile path</dt>
            <dd>{{ project.dockerfile_path|default("/") }}</dd>
            {% endif %}

            <dt>Dependent repos:</dt>
            <dd>
              {% if project.github_repo_exists %}
                <a href="{{ project.github_repo_url }}">
                  GitHub
                </a>
              {% else %}
                (not created yet)
              {% endif %}
            </dd>

            <dt>&nbsp;</dt>
            <dd>
              {% if project.dockerhub_repo_exists %}
                <a href="{{ project.dockerhub_repo_url }}">
                  DockerHub
                </a>
              {% endif %}
            </dd>

            <!--<dt>Local repo</dt>-->
            <!--<dd> {{ project.local_repo_exists }}</dd>-->

            {% if project.dockerhub_build_status %}
            <dt>Dockerhub status</dt>

            <dd>
              <span class="label
                {% if 'Finished' in project.dockerhub_build_status %}
                  label-success
                {% else %}
                  label-info
                {% endif %}

              ">
                {{ project.dockerhub_build_status}}
              </span>

            </dd>

            <dt>Dockerhub updated</dt>
            <dd>
              {{ project.dockerhub_latest_build_updated_on }}
            </dd>
            {% endif %}

            <!--<dt>DH build is finished</dt>-->
            <!--&lt;!&ndash;<dd> {{ project.build_is_running }}</dd>&ndash;&gt;-->
            <!--<dd> {{ project.is_dh_build_finished }}</dd>-->

            <dt>Build in progress</dt>
            <dd>{{ project.show_build_in_progress }}</dd>

            <!--<hr />-->
            <!--{{ project.local_repo_pushed_on }}-->
            <!--{% for k, v in project.__dict__.items() %}-->
              <!--<dt>{{k}}</dt>-->
              <!--<dd>{{v}}</dd>-->
            <!--{% endfor %}-->
            <!---->
            <!---->
            <!--<dt>Auto-build</dt>-->
            <!--<dd>disabled</dd>-->
          </dl>

          {% if project.dockerhub_repo_exists %}
          <h4 class="text-center">Pull results:</h4>
          <div class="well">
                <code>
                  {{ project.docker_pull_snippet }}
                </code>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Activity log</b>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            {% for event in  project.recent_events.limit(10).all() %}
              <dt>{{ event.created_on | time_ago}}: </dt>
              <dd>{{ event.human_text }} </dd>
            {% endfor %}


          </dl>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Dockerfile preview</b>
        </div>
        <div class="panel-body">
          <pre><code class="dockerfile">{{ project.patched_dockerfile }}</code></pre>
        </div>
      </div>

    </div>

  </div>


{% endblock %}
