{% extends "base.html" %}

{% block inner_content %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>
      <a href="{{ url_for('project.list_by_user',username=project.user.username) }}">
        {{ project.user.username }}
      </a>
    </li>
    <li><a href="{{ url_for('project.details', username=project.user.username, title=project.title) }}">
      {{ project.title }}
    </a></li>
    <li class="active">Editing project</li>
  </ol>


  <h1 class="text-center"> Editing project: {{ project.title }} </h1>
  <p class="pull-right">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    <a href="https://docs.docker.com/reference/builder/">Dockerfile format reference</a>
  </p>
  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <input type="hidden" name="title" value="{{ project.title }}" />
    <!--<div class="form-group ">-->
      <!--<label class="control-label" for="source_mode">-->
        <!--Select source mode for project-->
      <!--</label>-->
      <!--{{ wtf.form_field(form.source_mode) }}-->
    <!--</div>-->

    {% if project.source_mode == "local_text" %}
      {{ wtf.form_field(form.local_text,rows=20) }}
    {% endif %}

    {% if project.source_mode == "git_url" %}
      {{ wtf.form_field(form.git_url) }}
    {% endif %}


     <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}
