{% extends "base.html" %}

{% block inner_content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>
    <a class="active" href="{{ url_for('project.list_by_user',username=owner.username) }}">
      {{ owner.username }}
    </a>
  </li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Projects by: {{ owner.username }}
      {% if owner==g.user %}
        <div class="pull-right">
          <a class="btn btn-default" href="{{ url_for('project.create_view')}}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add new project
          </a>
        </div>

      {% endif %}
    </h3>

  </div>
  <div class="panel-body">

    {% for prj in project_list %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><a href="{{ url_for('project.details', project_id=prj.id) }}">{{ prj.title }}</a>
        <span class="pull-right">
          <div class="btn-group" role="group" aria-label="...">
            {% if g.user == prj.user %}
              <a href="{{ url_for('project.edit', project_id=prj.id)}}"
                 class="btn btn-default">Edit</a>
              <button type="button" class="btn btn-default">Build</button>
            {% endif %}
            <a href="{{ prj.url_to_hub }}" class="btn btn-default">Go to the Hub</a>
          </div>
        </span>
        </h3>
      </div>
    </div>
    {% else %}

      No projects defined yet

    {% endfor %}
  </div>
</div>





{% endblock inner_content %}
