{% extends "base.html" %}

{% block inner_content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>
    <a class="active" href="{{ url_for('project.list_by_user',username=owner.username) }}">
      {{ owner.username }}
    </a>
  </li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Projects by: {{ owner.username }}
      {% if owner==g.user %}
        <div class="pull-right">
          <a class="btn btn-primary" href="{{ url_for('project.create_view')}}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add new project
          </a>
        </div>

      {% endif %}
    </h3>

  </div>
  <div class="panel-body">

    {% for project in project_list %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>
          <a href="{{ url_for('project.details', username=project.user.username, title=project.title) }}">
            {{ project.title }}
          </a>

          {% if project.delete_requested_on == None %}
          <span class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              {% if g.user == project.user%}
                <a href="{{ url_for('project.edit', username=project.user.username, title=project.title)}}"
                   class="btn btn-default">
                  Edit
                </a>

                {% if project.is_runnable %}
                <a class="btn btn-warning"
                   href="{{ url_for('project.start_build', username=project.user.username, title=project.title)}}">
                  Run build
                </a>
                {% endif %}
              {% endif %}

              {% if project.dockerhub_repo_exists %}
                <a href="{{ project.url_to_hub }}" class="btn btn-default">
                  Go to the Hub
                </a>
              {% endif %}
            </div>
          </span>
          {% else %}
          <span class="pull-right label label-danger">
            deleting ...
          </span>
          {% endif %}
        </h3>
      </div>
    </div>
    {% else %}

      No projects defined yet

    {% endfor %}
  </div>
</div>





{% endblock inner_content %}
